
<div class="card-container" >
  <mat-card *ngFor="let product of products">
      <mat-card-header routerLink="/product">
         <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{product.productName}}</mat-card-title>
          <mat-card-subtitle>{{product.companyName}}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="assets/NPOC1.png" routerLink="/product">
      <mat-card-content>
          {{product.productDescription}}
      </mat-card-content>
      <mat-tab-group>
        <mat-tab label="Status">
          <p>"180 Days Remaining"</p>
          <h3>Renew</h3>
          <button mat-raised-button >30 Days</button>
          <button mat-raised-button >60 Days</button>
          <button mat-raised-button >90 Days</button>
        </mat-tab>
        <mat-tab label="Remove"> Content 3 </mat-tab>
      </mat-tab-group>
  </mat-card>
</div>
<app-navbar></app-navbar>

<!-- <div>
  {{products}}
</div> -->
